:root {
    --primary-color: #33704B;
    --secondary-color: #AF9164;
    --accent1-color: #D1FAFF;
    --accent2-color: #6A8EAE;
}
* {
    max-width: 1250px;
    margin: 5px;
}
header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    width: 1250px;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav a {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    text-decoration: none;
}
img#hero {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 0;
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    background-color: var(--accent1-color);
    opacity: 75%;
    width: 100%;
    color: var(--primary-color);
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: xxx-large;
}
article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    background-color: var(--accent2-color);
    width: 625px;
    opacity: 85%;}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 400px;
}
section {
    position: relative;
}
h2 {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
}
p {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    font-style: normal;
}
footer {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    text-decoration: none;
}
footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}
.history-title {
    grid-column: 1 / 4;
}
.adventure {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 50px 0;
}
.adventure-title {
    grid-column: 1 / 6;
}
figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
}
figcaption {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    font-style: normal;
    padding: 3px;
    text-align: center;
  }