* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: darkblue;
    --color: white;
}
nav {
    background-color: var(--background-color);
    padding: 10px;
}
nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
    padding: 10px;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 5px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main {
    max-width: 600px;
}
aside {
    width: 20rem;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 20px;
    border-top: double black;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / .1);
    padding: 1rem;
    background-color: slategray;
    color: var(--color);
}